<h2>Update your Grumblr Name:</h2>
<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="username" value="<%= @user.username %>">
  <button type="submit">Switch it Up!</button>
</form>
