<h2><%= @user.username %></h2>


<h3>What's on your mind?</h3>
<form action="/users/<%= @user.id %>/grumbles" method="post">
  <input type="text" name="grumble" placeholder="Grumble Here">
  <button type="submit">Share</button>
</form>
